.filled-btn {
  background-color: var(--colorPrimary) !important;
  color: var(--colorWhite);
  transition: all 0.7s ease !important;
}

.filled-btn:hover {
  background-color: var(--colorGrey) !important;
}

.filled-btn-white {
  background-color: var(--colorWhite) !important;
  color: var(--colorPrimary);
  transition: all 0.7s ease !important;
}

.filled-btn-white:hover {
  background-color: var(--colorPrimary) !important;
  color: var(--colorWhite) !important;
}
