.outlined-btn {
  background-color: transparent;
  color: var(--colorPrimary) !important;
  border-color: var(--colorPrimary) !important;
  transition: all 0.7s ease !important;
}

.outlined-btn:hover {
  background-color: var(--colorPrimary) !important;
  color: var(--colorWhite) !important;
}

.outlined-btn-white {
  background-color: transparent;
  color: var(--colorWhite) !important;
  border-color: var(--colorWhite) !important;
  transition: all 0.7s ease !important;
}

.outlined-btn-white:hover {
  background-color: var(--colorWhite) !important;
  color: var(--colorPrimary) !important;
}
