.sideNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    var(--colorPrimary),
    var(--colorSecondary)
  );
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s ease;

  position: relative;
}

.icon {
  color: #fff;
  transition: all 1s ease;
}

.iconBox:hover {
  background-image: linear-gradient(
    to right bottom,
    var(--colorSecondary),
    var(--colorPrimary)
  );
}

.iconBox:hover .icon {
  color: #fff;
  transform: rotate(360deg);
}

.iconTooltip {
  background-color: #fff;
  position: absolute;
  top: 0.4rem;
  left: 3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: all 1s ease;
}

.iconBox:hover .iconTooltip {
  opacity: 1;
}

.activeIconBox {
  background-image: none;
  background-color: var(--colorGrey);
  border: 1px solid var(--colorWhite);
}
